.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: none !important
}

.dashboard-header .navbar {
  padding: 0px;
  border-bottom: 1px solid #e6e6f2;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  -webkit-transition: all 0.3s ease;
  min-height: 60px
}

.navbar-brand {
  display: inline-block;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
  padding: 11px 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #007bff
}

.navbar-brand:hover {
  color: #007bff
}

.navbar-right-top .nav-item {
  border-right: 1px solid #e6e6f2
}

.navbar-right-top .nav-item:last-child {
  border: none
}

.navbar-right-top .nav-item .nav-link {
  padding: 13px 20px;
  font-size: 16px;
  line-height: 2;
  color: #82849f
}

.top-search-bar {
  padding-top: 12px;
  padding-right: 24px
}

.list-footer,
.conntection-footer {
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
  line-height: 1.5;
  font-weight: 700;
  background-color: #5969ff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px
}

.list-footer a,
.conntection-footer a {
  color: #fff
}

.list-footer a:hover,
.conntection-footer a:hover {
  color: #fff
}

.indicator {
  content: '';
  position: absolute;
  top: 16px;
  right: 23px;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #ef172c;
  animation: .9s infinite beatHeart;
  transform-origin: center
}

@keyframes beatHeart {
0% {
  transform: scale(0.9)
}

25% {
  transform: scale(1.1)
}

40% {
  transform: scale(0.9)
}

60% {
  transform: scale(1.1)
}

100% {
    transform: scale(0.9)
  }
}

.nav-user-dropdown {
  padding: 0px;
  min-width: 230px;
  margin: 0px
}

.nav-user-info {
  background-color: #5969ff;
  line-height: 1.4;
  padding: 12px;
  color: #fff;
  font-size: 13px;
  border-radius: 2px 2px 0 0
}

.nav-user-info .status {
  float: left;
  top: 7px;
  left: 0px
}

.nav-user-dropdown .dropdown-item {
  display: block;
  width: 100%;
  padding: 12px 22px 15px;
  clear: both;
  font-weight: 400;
  color: #686972;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 13px;
  line-height: 0.4
}

.nav-user-dropdown .dropdown-item:hover {
  background-color: #f7f7fb
}

.user-avatar-xxl {
  height: 128px;
  width: 128px
}

.user-avatar-xl {
  height: 90px;
  width: 90px
}

.user-avatar-lg {
  height: 48px;
  width: 48px
}

.user-avatar-md {
  height: 32px;
  width: 32px
}

.user-avatar-sm {
  height: 24px;
  width: 24px
}

.user-avatar-xs {
  height: 18px;
  width: 18px
}

.avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border: 2px solid #F7F9FA;
  background: #F7F9FA;
  color: #fff
}

.media-attachment div.avatar {
  border: none
}

.avatar.bg-primary {
  display: flex;
  align-items: center;
  justify-content: center
}

.avatar.bg-primary i {
  font-size: 14px
}
